.env
images/001.webp
images/002.webp
images/003.webp
images/004.webp
images/005.webp
images/006.webp
images/007.webp
images/008.webp
images/009.webp
images/010.webp
images/011.webp
images/012.webp
images/013.webp
images/014.webp
images/015.webp
images/016.webp
images/017.webp
images/018.webp
images/Readme.md
__pycache__/handler.cpython-313.pyc
__pycache__/scrape.cpython-312.pyc
__pycache__/scrape.cpython-313.pyc
__pycache__/script.cpython-312.pyc
__pycache__/script.cpython-313.pyc
parsed_page.html
temp.py
